.pagination {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;

}

.pagination-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.pagination-prev,
.pagination-next,
.pagination-page {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

.pagination-active {
    background-color: red;
    color: white;
    border-radius: 5px;
}

.pagination-page,
.pagination-active:hover {
    cursor: pointer;
}


@media (max-width: 530px) {

    .pagination-container{
        gap: 2px;
 
}

.pagination-prev,
.pagination-next {

    max-height: 40px;
}

.pagination-page {
max-height: 25px;
}
}